<h1 style="text-align: center;">Basic animation</h1>

<div>
  <div class="control-panel" style="clear: right;">
    <button class="trigger" id="basic-trigger">Click me to start animating</button>
  </div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: red;"></div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: orange; left: 200px"></div>
  <!--div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: yellow;"></div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: green;"></div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: blue;"></div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: violet;"></div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: pink;"></div-->
</div>
