<h1>Basic animations</h1>

<div>
  <button onclick="animation_loop();" style="float: right;">Click me to start animation</button>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: blue;"></div>
</div>
