<h1 style="text-align: center;">Basic animation</h1>

<div>
  <div style="margin-left: 20%; margin-right: 20%">
    <button class="trigger" id="basic-trigger" onclick="Animator.animation_loop();">Click me to start animation</button>
  </div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: red;"></div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: orange;"></div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: yellow;"></div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: green;"></div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: blue;"></div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: violet;"></div>
  <div class="dancer" style="width: 100px; height: 100px; position: absolute; background-color: pink;"></div>
</div>
